<% @conferences.each do |conference| %>
    <h4><%= conference.event_date.strftime('Le %d/%m/%Y à %R') %></h4>
    <div class="event_item row">
      <div class="col-sm-6 col-xs-12 event_title">
        <a href="/conferences/<%= conference.id %>"><%= conference.title %></a>
      </div>
      <div class="col-sm-6 col-xs-12">
        <strong>Places restantes : </strong> : <%= conference.sits == 0 ? 'Inscriptions non-ouvertes' : "#{conference.free_sits} / #{conference.sits}" %>
      </div>
      <div class="col-sm-6 col-xs-12">
        <strong>Intervenant</strong> : <%= conference.speaker %>
      </div>
    </div>
<% end %>